* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: rgb(54, 58, 62); /* Fondo general */
    font-family: sans-serif;
}


.pagination {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 5vw;
}

.paginationElement {
    color: #f90c9a;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 0 8px 0 8px;
    text-decoration: none;
    border-radius: 50%;                             /* Hace el fondo circular */
    transition: background-color 0.3s ease;         /* Transición suave */
}

.activePage{
    background-color: #ff95d5;                    /* Color de fondo en hover */
    color: #f90c9a;
}

.paginationElement:hover {
    background-color: #f867be;                    /* Color de fondo en hover */
    color: white;                                 /* Cambia el color del texto en hover */
}


/* Para móviles en orientación vertical - hasta 480px */
@media (max-width: 480px) {
    /* Estilos para móviles en orientación vertical */
    .sinCartas{
        color: whitesmoke;
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main {
        display: flex;
        flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
        align-items: center;
        padding: 30px 0 20px;
    }
    
    .texto {
        width: 90vw;
        margin-bottom: 15px;
    }
    
    .contenedoritem {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .img {
        width: 90vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carta {
        width: 80vw;
        height: auto;
        transition: all 0.5s ease;
    }
    
    .carta:hover {
        transform: scale(1.025);
        box-shadow: 0 0 10px 4px rgba(180, 185, 189, 0.3);
    }
    
    .button-container {
        margin: 10px 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-cart {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    .btn-cart:hover {
        background-color: #0056b3;
        transform: scale(1.05); 
    }
    
    .imgOverlay{
        width: 90vw;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px); /* Difumina el fondo */
        display: flex;
        flex-direction: column; /* Apila los elementos verticalmente */
        justify-content: center;
        align-items: center;
    }
    
    .elemento {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
    }
    
    .share-icon {
        width: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }
    
    .share-icon img {
        width: 40px;  /* Tamaño del ícono */
    }
    
    .detalle {
        color: white;
        background-color: rgba(0, 0, 0, 0.437);
        width: 90vw;
        display: flex;
        flex-direction: column; /* Para que los detalles se alineen verticalmente */
        justify-content: center;
        align-items: center;
        border-radius: 0 0 20px 20px;
        border: solid 1px rgba(255, 255, 255, 0.37);
        padding: 10px;
    }
    
    .tituloDetalle {
        width: 95%;
        height: 30px;
        text-align: center;
        border-bottom: solid 1px rgba(255, 255, 255, 0.37);
        margin-bottom: 10px;
    }
    
    .descripcionDetalle {
        width: 100%;
        max-height: 10vh;
    }
}






















/* Para móviles en orientación horizontal - hasta 768px */
@media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para móviles en orientación horizontal */
    .sinCartas{
        color: whitesmoke;
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main {
        align-items: center;
        padding: 30px 0 20px;
        display: flex;
        flex-direction: row; /* Asegura que los elementos se apilen verticalmente */
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .texto {
        width: 90vw;
        margin-bottom: 15px;
    }
    
    .contenedorItem {
        width: 33vw;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1%;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }
    
    .carta {
        width: 100%;
        height: 90%;
        transition: all 0.5s ease;
        object-fit: contain;
    }

    .carta:hover {
        transform: scale(1.025);
        box-shadow: 0 0 10px 4px rgba(180, 185, 189, 0.3);
    }
    
    .button-container {
        height: 50px;
        margin: 10px 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-cart {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    .btn-cart:hover {
        background-color: #0056b3;
        transform: scale(1.05); 
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px); /* Difumina el fondo */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }
    
    .elemento {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
    }
    
    .imgOverlay{
        height: 90vh;
    }

    .share-icon {
        width: 40px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }
    
    .share-icon img {
        width: 40px;  /* Tamaño del ícono */
    }
    
    .detalle {
        color: white;
        background-color: rgba(0, 0, 0, 0.437);
        width: 70vw;
        height: 90vh;
        display: flex;
        flex-direction: column; /* Para que los detalles se alineen verticalmente */
        align-items: center;
        border-radius: 0 20px 20px 0;
        border: solid 1px rgba(255, 255, 255, 0.37);
        padding: 10px;
    }
    
    .tituloDetalle {
        width: 100%;
        height: 30px;
        text-align: center;
        border-bottom: solid 1px rgba(255, 255, 255, 0.37);
        margin-bottom: 10px;
    }
    
    .descripcionDetalle {
        width: 100%;
    }
    
}




























/* Para tablets en orientación vertical - hasta 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets en orientación vertical */
}

/* Para tablets en orientación horizontal o escritorios normales - hasta 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para tablets en orientación horizontal o escritorios normales */

}

/* Para escritorios grandes - desde 1200px */
@media (min-width: 1201px){

}




















