* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: rgb(54, 58, 62);
    font-family: sans-serif;
}

.sinCartas{
    color: whitesmoke;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px;
}

.contenedoritem {
    min-height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.carta {
    transition: all 0.5s ease;
    object-fit: contain;
}

.carta:hover {
    transform: scale(1.025);
    box-shadow: 0 0 10px 4px rgba(180, 185, 189, 0.3);
}

.quantity-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-quantity{
    width: 20px;
    font-size: medium;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-input{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container {
    margin: 10px 0 15px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cart {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-cart:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.imgOverlay{
    height: 90vh;
}

.elemento {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.share-icon {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.share-icon img {
    width: 40px; 
}

.detalle {
    color: white;
    background-color: rgba(0, 0, 0, 0.437);
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0 20px 20px 0;
    border: solid 1px rgba(255, 255, 255, 0.37);
    padding: 10px;
    font-size: large;
}

.tituloDetalle {
    width: 100%;
    padding: 6px;
    text-align: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.37);
    margin-bottom: 10px;
}

.descripcionDetalle {
    width: 100%;
    margin-bottom: 20px;
}

.adicionalDetalle{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    text-align: start;
    display: flex;
    margin-bottom: 10px;
}

.precioDetalle{
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    border-top: solid 1px rgba(255, 255, 255, 0.37);;
}

.precioDetalle h3{
    width: 100%;
    text-align: center;
}

.precios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.precios div{
    display: flex;
    margin-top: 5px;
    min-width: 80px;
}

.precios div span{
    font-weight: bolder;
    text-decoration-line: underline;
}


.pagination {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 5vw;
}

.paginationElement {
    color: #f90c9a;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 0 8px 0 8px;
    text-decoration: none;
    border-radius: 50%;                             /* Hace el fondo circular */
    transition: background-color 0.3s ease;         /* Transición suave */
} 

.activePage{
    background-color: #ff95d5;                    /* Color de fondo en hover */
    color: #f90c9a;
}

.paginationElement:hover {
    background-color: #f867be;                    /* Color de fondo en hover */
    color: white;                                 /* Cambia el color del texto en hover */
}

.mensaje-carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.mensaje-carrito.visible {
    opacity: 1;
}



/* Para móviles en orientación vertical - hasta 480px */
@media (max-width: 480px) {
    /* Estilos para móviles en orientación vertical */
    .contenedoritem {
        width: 100vw;
    }
    
    .img {
        width: 90vw;
        height: auto;
    }

    .overlay {
        flex-direction: column;
    }
    
    .imgOverlay{
        width: 90vw;
        height: auto;
    }
    
    .detalle {
        position: absolute;
        width: 90vw;
        height: auto;
        border-radius: 20px;
        font-size: medium;
    }

    .adicionalDetalle{
        width: auto;
    }
    
    .precios{
        gap: 10px;
        flex-direction: row;
    }
}

/* Para móviles en orientación horizontal - hasta 768px */
@media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para móviles en orientación horizontal */
    .main {
        justify-content: space-around;
    }
    
    .contenedorItem {
        width: 33vw;
        min-width: 190px;
        padding: 1%;
    }

    .img{
        height: auto;
    }
    
    .detalle{
        font-size: small;
    }
    
    .adicionalDetalle{
        width: auto;
    }
    
    .precios{
        gap: 10px;
        flex-direction: row;
    }
    
    
    
    
    
    

    
    
}


/* Para tablets en orientación vertical - hasta 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets en orientación vertical */
    .main {
        justify-content: space-around;
    }
    
    .contenedorItem{
        max-width: 30vw;
    }

    .detalle{
        font-size: medium;
    }
    
    
    .pagination {
        width: 90vw;
        grid-column: 1/6;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 5vw;
    }

    .paginationElement {
        color: #f90c9a;
        font-size: x-large;
        justify-content: center;
        padding: 0 8px 0 8px;
        text-decoration: none;
        border-radius: 50%;                             /* Hace el fondo circular */
        transition: background-color 0.3s ease;         /* Transición suave */
    }
    
    .activePage{
        background-color: #ff95d5;                    /* Color de fondo en hover */
        color: #f90c9a;
    }
    
    .paginationElement:hover {
        background-color: #f867be;                    /* Color de fondo en hover */
        color: white;                                 /* Cambia el color del texto en hover */
    }
}



/* Para tablets en orientación horizontal o escritorios normales - hasta 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para tablets en orientación horizontal o escritorios normales */
    .contenedorItem {
        width: 33vw;
        padding: 1%;
    }
    
    .button-container {
        margin: 10px 0 15px;
    }
    
    .detalle {
        font-size: large;
        flex-direction: column;
    }

    .adicionalDetalle{
        height: 30px;
    }
}

/* Para escritorios grandes - desde 1200px */
@media (min-width: 1201px){
    .sinCartas{
        grid-column: 1/6;
    }

    .main {
        width: 90vw;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 20% 20% 20% 20% 20%; 
        justify-items: center; 
    }

    .contenedorItem{
        width: 100%;
        height: auto;
    }

    .detalle {
        font-size: large;
    }

    .pagination {
        grid-column: 1/6;
    }
}