body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

#carrito {
    margin-bottom: 20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0 10px;
}
