* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajusta el modelo de caja, incluyendo padding y border en el ancho total */
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #2d2727;
    color: #333;
    font-size: 16px;
}

.main {
    text-align: center;
    padding: 20px;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.cartas-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente linea si no hay espacio */
    justify-content: center;
    background-color: #2d2727;
}

.producto {
    background-color: #4c2e4b;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega sombra al contenedor */
    flex: 0 1 calc(100% - 20px); /* Un producto por fila en moviles */
    max-width: calc(100% - 20px); /* Limita el ancho al 100% */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.producto img {
    width: 100%;
    border-radius: 5px 5px 0 0; /* Redondea solo la parte superior de la imagen */
}

.producto h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: white;
    overflow: hidden; /* Mantener oculto el texto que desborda */
    white-space: nowrap; /* Mantener en una línea */
    text-overflow: ellipsis; /* Puntos suspensivos */
}

.producto h2:hover {
    overflow: visible; /* Permitir ver el texto completo al hacer hover */
    white-space: normal; /* Permitir que el texto se divida en varias líneas */
    text-overflow: clip; /* No muestra puntos suspensivos */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo sutil */
    border-radius: 3px; /* Redondear las esquinas */
}

.producto p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: white;
}

.producto p.cantidad {
    color: yellow;
}

/* Estilos para los botones */
.producto button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer; /* Cambia el cursor al pasar sobre el boton */
    margin: 5px 0;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza la transicion del fondo y la transformacion */
    font-size: 1rem;
}

.producto button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumenta el tamaño del botón al pasar el mouse */
}

.producto button:active {
    transform: scale(0.95); /* Disminuye el tamaño al hacer clic */
}

.cantidad {
    color: yellow;
}

.btn-mas {
    background-color: #28a745;
}

.btn-mas:hover {
    background-color: #218838;
}

.btn-menos, .btn-eliminar {
    background-color: #dc3545;
}

.btn-menos:hover, .btn-eliminar:hover {
    background-color: #c82333;
}

.pagination {
    display: flex;
    justify-content: center; /* Centra los elementos de la paginacion */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.pagination button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px; /* Redondea los bordes de los botones de paginacion */
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin: 0 10px; /* Espacio horizontal entre botones */
}

.pagination button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
}

.pagination span {
    font-size: 1rem;
    color: white;
}

/* Para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) { 
    .producto {
        flex: 0 1 calc(30% - 20px); /* Tres productos por fila en tablets */
        max-width: calc(30% - 20px); /* Limita el ancho al 30% */
    }
}

/* Para pantallas grandes */
@media (min-width: 1024px) { 
    .producto {
        flex: 0 1 calc(20% - 20px); /* Cinco productos por fila en escritorio */
        max-width: calc(20% - 20px); /* Limita el ancho al 20% */
    }
}
