footer {
    position: static; 
    background-color: #222; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    font-size: 14px; 
}

.footer-container {
    display: flex; 
    flex-wrap: wrap; /* Permite ajustar elementos en varias lineas */
    justify-content: center; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.footer-section {
    flex: 1; /* Cada seccion ocupa el mismo espacio disponible */
    margin: 10px; 
    min-width: 200px; /* Establece un ancho minimo para las secciones */
}

.footer-section a {
    color: #1e90ff; 
    text-decoration: none; 
}

.footer-section a:hover {
    text-decoration: underline; 
}

.banner-container {
    display: none; /* Oculto por defecto */
    background-color: #333; 
    padding: 20px; 
    text-align: center; 
}

@media (min-width: 1024px) {
    .banner-container {
        display: block; 
        max-width: 1200px; 
        margin: 0 auto; 
    }

    .banner-container img {
        max-width: 50%; 
        height: auto; 
        max-height: 80px; /* Limita la altura maxima de la imagen */
        object-fit: contain; /* Mantiene las proporciones de la imagen sin distorsion */
    }
}
