* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #2d2727;
    color: #ffffff;
    font-size: 16px;
}

.main {
    padding: 20px;
    text-align: center;
}

.cartas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta {
    background-color: #4c2e4b;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega sombra al contenedor */
    flex: 0 1 calc(100% - 20px); /* Un producto por fila en moviles */
    max-width: calc(100% - 20px); /* Limita el ancho al 100% */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.carta img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.carta h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: white;
    overflow: hidden; /* Mantener oculto el texto que desborda */
    white-space: nowrap; /* Mantener en una línea */
    text-overflow: ellipsis; /* Puntos suspensivos */
}

.carta h2:hover {
    overflow: visible; /* Permitir ver el texto completo al hacer hover */
    white-space: normal; /* Permitir que el texto se divida en varias líneas */
    text-overflow: clip; /* No muestra puntos suspensivos */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo sutil */
    border-radius: 3px; /* Opcional: redondear las esquinas */
}

.carta p {
    color: white;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    font-size: 1rem;
    color: white;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

/* Tablet */
@media (min-width: 768px) {
    .carta {
        flex: 0 1 calc(30% - 20px); /* 3 cartas en tablet */
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    .carta {
        flex: 0 1 calc(20% - 20px); /* 5 cartas en escritorio */
    }
}
