* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #2d2727;
    color: #333;
    font-size: 16px;
}

.main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 85vw;
    max-width: 600px;
    background-color: #9c41aa46;
    color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.img{
    width: 30%;
}

.img img {
    width: 100%;
    border-right: 2px solid #3498db;
}

.texto {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.6;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Para móviles en orientación vertical - hasta 480px */
@media (max-width: 480px) {
    /* Estilos para móviles en orientación vertical */
    .card{
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .img img {
        border-right: none;
        border-bottom: 2px solid #3498db;
    }

    .texto {
        width: 100%;
    }
}



/* Para móviles en orientación horizontal - hasta 768px */
@media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para móviles en orientación horizontal */
    
}


/* Para tablets en orientación vertical - hasta 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets en orientación vertical */
    
}


/* Para tablets en orientación horizontal o escritorios normales - hasta 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para tablets en orientación horizontal o escritorios normales */
    
}

/* Para escritorios grandes - desde 1200px */
@media (min-width: 1201px){
    .card {
        width: 85vw;
        max-width: none;
    }

    .texto{
        font-size: x-large;
    }
}




















