.search-filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filter, .filter-text{
    margin-top: 10px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filter, .filter-text{
    width: 40vw;
}



@media (max-width: 480px) {
    .search-filters{
        width: 100%;
        flex-direction: column;
    }

    .filter, .filter-text{
        width: 70vw;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
    .search-filters{
        width: 50vw;
    }

    .filter, .filter-text{
        width: 40vw;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px){
    .search-filters{
        width: 100%;
        justify-content: space-between;
    }

    .filter{
        width: 30%;
    }

    .filter-text{
        width: 100%;
    }

    .filter, .filter-text{
        padding: 10px;
        font-size: 15px;
    }
}