* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2d2727; /* Mismo fondo oscuro que en index */
    color: #333; /* Color de texto similar */
    padding: 20px;
}

main {
    background-color: rgba(156, 65, 170, 0.9); /* Fondo de tarjetas similar */
    border-radius: 15px; /* Radius como el de las tarjetas */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    text-align: center; /* Centrar texto */
    max-width: 800px; /* Establecer un ancho máximo para el contenedor */
    margin: 20px auto 0; /* Centrar el contenedor y agregar espacio arriba */
}

h1 {
    margin-bottom: 20px;
    color: aliceblue; /* Color de texto de título */
}

.title-container {
    margin-bottom: 20px; /* Espacio entre el título y la carta */
}

h2 {
    margin: 10px 0; /* Espaciado para el título de la carta */
    color: aliceblue; /* Color similar para la consistencia */
}

.card-image-container {
    margin-bottom: 20px; /* Espacio entre imagen y formulario */
}

.card-image-container img {
    max-width: 100%; /* Limitar el tamaño de la imagen al 100% del contenedor */
    height: auto; /* Mantener la proporción */
    border-radius: 8px; /* Radio de borde para la imagen */
    display: block; /* Asegurar que se comporte como bloque */
    margin: 0 auto; /* Centrar imagen */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos del formulario */
}

.form-group {
    width: 100%; /* Hacer que el grupo ocupe el 100% del contenedor */
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: aliceblue; /* Asegura que las etiquetas sean visibles */
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%; /* Ocupa el 100% del contenedor */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Espacio entre botones */
    width: 100%; /* Hacer que el contenedor ocupe el 100% */
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF; /* Mismo color de botón */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suave transición */
    flex: 1; /* Hacer que los botones crezcan igual */
    margin: 0 5px; /* Espacio entre los botones */
}

button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}
