* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
}

body {
    font-family: 'Arial', sans-serif; 
    background-color: #2d2727; 
    color: #333; 
    padding: 20px; 
}

main {
    background-color: rgba(156, 65, 170, 0.9); /* Fondo semitransparente con color */
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra difusa */
    text-align: center; 
    max-width: 800px; 
    margin: 20px auto 0; 
}

h1 {
    margin-bottom: 20px; 
    color: aliceblue; 
}

.title-container {
    margin-bottom: 20px; 
}

h2 {
    margin: 10px 0; 
    color: aliceblue; 
}

.card-image-container {
    margin-bottom: 20px; 
}

.card-image-container img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    display: block; 
    margin: 0 auto; 
}

form {
    display: flex; 
    flex-direction: column; /* Disposicion vertical de los elementos del formulario */
    align-items: center; 
}

.form-group {
    width: 100%; 
    margin-bottom: 15px; 
}

label {
    margin-bottom: 5px; 
    color: aliceblue; 
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.button-container {
    display: flex; 
    justify-content: space-between; /* Distribuye espacio entre botones */
    width: 100%; 
}

button {
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    background-color: #007BFF; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s ease; /* Transicion suave para el color de fondo */
    flex: 1; /* Permite que los botones crezcan igualmente */
    margin: 0 5px; 
}

button:hover {
    background-color: #0056b3; 
}
